<!DOCTYPE html>
<html ng-app="SimuladorVehiculos">
<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/simuladorvehiculos/formContacto.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/simuladorvehiculos.js"></script>
    <title>simulador creditos de vehiculo</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>

</head>
<body ng-controller="SimuladorController">
    <div class="header-vehiculos">
        <div class="logo">
            <img src="../../img/general/logo.svg">
        </div>
        <div class="texto-encabezado">
            <p>Simulador crédito de vehículo <b>Banco Finandina</b></p>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Conoce el valor apróximado de la cuota de <span>tu próximo Vehiculo</span></p>
                    </div>
                    <div class="content-img">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div clas="img-izquierda">
                            <img src="../../img/general/person-car.png" style="max-width: 100%;">
                        </div>
                    </div>
                    <div class="texto-inferior-imagen">
                        <p>*El valor es aproximado teniendo en cuenta la tasa de interés aplicable a la fecha.</p>
                        <p>La aprobación definitiva de la solicitud de financiación y la tasa de interés del crédito estarán sujetos a las políticas de crédito y condiciones definidas por el Banco Finandina S.A.</p>
                        <p>La cuota aproximada no incluye seguros y otros cargos.</p>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <form name="formUSer" autocomplete="off" ng-submit="guardarInfo(formUSer)">
                        <div class="card-content" ng-show="data.ShowForm">
                            <div class="texto-superior-derecho ">
                                <p>Diligencia el formulario para contactarte y ampliar la información sobre nuestros créditos de vehículo.</p>
                            </div>

                            <div class="texto-monto">
                                <p>Escribe tu nombre y apellido</p>
                            </div>
                            <div class="content-monto">
                                <div class=" caja-monto input-nombre">
                                    <div class="ico-form">
                                        <img src="../../img/general/person.svg">
                                    </div>
                                    <div class="control-select-input ">
                                        <input class="input-nombre-input" ng-model="data.nombre" autocomplete="off" ng-change="data.errornombre = ''" letterkeypress />
                                    </div>
                                </div>
                            </div>
                            <span class="error">{{data.errornombre}}</span>

                            <div class="texto-monto">
                                <p>Indica tu número de celular</p>
                            </div>
                            <div class=" content-monto">
                                <div class=" caja-monto input-celular">
                                    <div class="ico-form">
                                        <img src="../../img/general/cellphone.svg">
                                    </div>
                                    <div class="control-select-input ">
                                        <input class="input-celular-input" ng-model="data.celular" type="text" maxlength="10" ng-change="data.errorcel = ''" autocomplete="off" numberkeypress />
                                    </div>
                                </div>
                            </div>
                            <span class="error">{{data.errorcel}}</span>

                            <div class="texto-monto">
                                <p>Indica tu correo electrónico</p>
                            </div>
                            <div class=" content-monto">
                                <div class=" caja-monto input-correo">
                                    <div class="ico-form">
                                        <img src="../../img/general/plane.svg">
                                    </div>
                                    <div class="control-select-input">
                                        <input class="input-correo-input" type="text" ng-model="data.email" ng-change="data.erroremail = ''" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <span class="error">{{data.erroremail}}</span>


                            <div class="container-switch">
                                <div class="texto-switch">
                                    <p class="texto-switch-descripcion">
                                        He leído y autorizo el tratamiento de mis datos personales de conformidad con lo enunciado en la
                                        <a href="https://www.bancofinandina.com/docs/default-source/institucionaldocs/politica-tratamiento-de-datos-banco-finandina-2020-i.pdf?sfvrsn=f491f9ea_2" target="_blank">
                                            Política de Tratamiento de Datos.
                                        </a>
                                    </p>
                                </div>
                                <div class="container-switch-movil">
                                    <div class="switch-button">
                                        <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox" checked ng-model="data.recibirExtractos">
                                        <label for="switch-label" class="switch-button__label">
                                            <div class="container-switch-texto">
                                                <div class="switch-texto-izquierdo">
                                                    <p>SI</p>
                                                </div>
                                                <div class="switch-texto-derecho">
                                                    <p>NO</p>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="content-buttons">
                                <button class="button-izquierdo" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoVehiculo'">¡LO QUIERO!</button>
                                <button class="button-derecho" type="submit" ng-disabled="data.nombre =='' || data.email=='' || data.celular=='' || !data.recibirExtractos">ENVIAR</button>
                                <button class="button-banco" onclick="window.location='https://bancofinandina.com'">
                                    <svg id="icon-hover" xmlns="http://www.w3.org/2000/svg" width="23.54" height="20.984" viewBox="0 0 23.54 20.984">
                                        <g id="Grupo_6019" data-name="Grupo 6019" transform="translate(-756.246 -83.796)">
                                            <g id="Grupo_6016" data-name="Grupo 6016">
                                                <g id="Grupo_6015" data-name="Grupo 6015">
                                                    <path id="Trazado_6843" d="M779.536 92.084l-11.159-8.17a.612.612 0 0 0-.722 0l-11.155 8.17a.613.613 0 0 0-.132.855c.2.273.461.1.855.132l11.472-.132 10.122.132h.422c.2 0 .318.025.433-.132a.611.611 0 0 0-.136-.855z" class="cls-1" data-name="Trazado 6843"></path>
                                                </g>
                                            </g>
                                            <g id="Grupo_6018" data-name="Grupo 6018">
                                                <g id="Grupo_6017" data-name="Grupo 6017">
                                                    <path id="Trazado_6844" d="M776.575 92.386c-.338 0-7.092-.856-8.78-.858s-8 1.682-8.955 1.113c-.337 0 0 .841 0 1.179v10.347a.612.612 0 0 0 .611.612h6.118a.611.611 0 0 0 .609-.564.371.371 0 0 0 0-.048v-5.924a1.836 1.836 0 0 1 3.671 0v5.925a.377.377 0 0 0 0 .047.611.611 0 0 0 .609.565h6.117a.612.612 0 0 0 .612-.612V93.821c0-.336-.276-1.432-.612-1.435z" class="cls-1" data-name="Trazado 6844"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    Ir al banco
                                </button>
                            </div>


                            <div class="texto-inferior-imagen2">
                                <div class="img-super"><img src="../../img/general/super.svg"></div>
                                <div class="texto">
                                    <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A. </p>
                                    <p>** El valor de cuota propuesta no incluye valor de prima mensual de seguro de vida .</p>
                                    <p>***Simulador exclusivo para crédito de Vehículo de Banco Finandina S.A.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!--Ventana Modal-->
    <div id="Modal" class="modal" ng-show="data.ShowModal">
        <div class="modal-contenido">
            <p class="texto-popup-titulo">¡Felicitaciones tu solicitud se ha enviado exitosamente!</p>
            <img src="../../img/general/happyface.png">
            <div class="content-parrafo">
                <p class="texto-popup-contenido-1">En los próximos días uno de nuestros agentes de servicio se estará comunicando contigo para resolver todas tus dudas acerca de tu crédito de vehículo</p>
                <p class="texto-popup-contenido-2">En los próximos días uno de nuestros agentes de servicio se estará comunicando contigo para resolver todas tus dudas acerca de tu crédito de vehículo</p>
            </div>
            <a href="" ng-click="showindex()"><div class="button-izquierdo"><p>ENTENDIDO</p></div></a>
        </div>
    </div>

    <footer>
        <p class="texto-normal">Todos los derechos reservados 2021 - <b>Banco Finandina</b></p>
        <p class="texto-responsivo">Todos los derechos reservados 2021<br><span>Banco Finandina<span></p>
    </footer>

</body>
</html>