<!DOCTYPE html>
<html ng-app="SimuladorVehiculos">

<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/simuladorvehiculos/simuladorvehiculos.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/simuladorvehiculos.js"></script>
    <title>simulador creditos de vehiculo </title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>

</head>

<body ng-controller="SimuladorController">
    <div class="header-vehiculos">
        <div class="logo">
            <img src="../../img/general/logo.svg">
        </div>
        <div class="texto-encabezado">
            <span>Simulador crédito de vehículo <span class="texto-encabezado-mobile">Banco Finandina </span></span>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen" ng-show="data.ShowImgCarro">
                        <p>Conoce el valor apróximado de la cuota de <span>tu próximo carro </span></p>
                    </div>
                    <div class="texto-superior-imagen" ng-show="data.ShowImgMoto">
                        <p>Conoce el valor apróximado de la cuota de <span>tu próximo moto</span></p>
                    </div>
                    <div class="content-img">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div clas="img-izquierda" ng-show="data.ShowImgCarro">
                            <img src="../../img/general/persons-car.png" style="max-width: 100%;">
                        </div>
                        <div clas="img-izquierda" ng-show="data.ShowImgMoto">
                            <img src="../../img/general/person-moto.png" style="max-width: 100%;">
                        </div>
                    </div>

                    <div class="texto-inferior-imagen">
                        <p>*El valor es aproximado teniendo en cuenta la tasa de interés aplicable a la fecha.</p>
                        <p>La aprobación definitiva de la solicitud de financiación y la tasa de interés del crédito estarán sujetos a las políticas de crédito y condiciones definidas por el Banco Finandina S.A.</p>
                        <p>La cuota aproximada no incluye seguros y otros cargos.</p>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <div class="card-content">
                        <div class="texto-superior-derecho">
                            <p>Selecciona el tipo de vehículo a financiar:</p>
                        </div>
                        <div class="content-switch">
                            <div class="container-switch-movil">
                                <div class="texto-izquierdo">
                                    <p ng-show="data.ShowImgCarro">CARRO</p>
                                    <p class="texto-negro" ng-show="data.ShowImgMoto">CARRO</p>
                                </div>
                                <div class="switch-button2">
                                    <span class="flecha-izq" ng-show="data.ShowImgCarro"><img src="../../img/general/arrow-1.png"></span>
                                    <span class="flecha-der" ng-show="data.ShowImgMoto"><img src="../../img/general/arrow-2.png"></span>
                                    <input type="checkbox" name="switch-button2" id="switch-label2" class="switch-button2__checkbox" ng-click="CambiarVehiculo()">
                                    <label for="switch-label2" class="switch-button2__label"></label>
                                </div>
                                <div class="texto-derecho">
                                    <p ng-show="data.ShowImgCarro">MOTO</p>
                                    <p class="texto-rojo" ng-show="data.ShowImgMoto">MOTO</p>
                                </div>
                            </div>
                            <div class="container-switch-movil" ng-show="data.ShowImgCarro">
                                <div class="texto-izquierdo">
                                    <p ng-show="data.ShowTextoNuevo">NUEVO</p>
                                    <p class="texto-negro" ng-show="data.ShowTextoUsado">NUEVO</p>
                                </div>
                                <div class="switch-button">
                                    <span class="flecha-izq" ng-show="data.ShowTextoNuevo"><img src="../../img/general/arrow-1.png"></span>
                                    <span class="flecha-der" ng-show="data.ShowTextoUsado"><img src="../../img/general/arrow-2.png"></span>
                                    <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox" ng-click="CambiarEstadoVehiculo()">
                                    <label for="switch-label" class="switch-button__label"></label>
                                </div>
                                <div class="texto-derecho">
                                    <p ng-show="data.ShowTextoNuevo">USADO</p>
                                    <p class="texto-rojo" ng-show="data.ShowTextoUsado">USADO</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-select">
                            <div class="caja-select " id="selectModelo">
                                <div class="ico-form img-car">
                                    <img class="img-responsive" src="../../img/general/car.svg" ng-show="data.ShowImgCarro">
                                    <img class="img-responsive" src="../../img/general/moto.svg" ng-show="data.ShowImgMoto">
                                </div>
                                <div class="control-select-input">
                                    <select ng-show="data.ShowModeloCarroMoto" ng-model="data.anioModelo" ng-change="calcularDatos()">
                                        <option value="">Año</option>
                                        <option>2020</option>
                                        <option>2021</option>
                                    </select>

                                    <select ng-show="data.ShowModeloCarroUsado" ng-model="data.anioModelo" ng-change="calcularDatos()">
                                        <option value="">Año</option>
                                        <option>2006</option>
                                        <option>2007</option>
                                        <option>2008</option>
                                        <option>2009</option>
                                        <option>2010</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                    </select>

                                    <label for="modelocarro" ng-show="data.ShowImgCarro">Modelo del carro</label>
                                    <label for="modelocarro" ng-show="data.ShowImgMoto">Modelo de la moto</label>
                                </div>
                                <div class="error">
                                    <span>{{data.errorModelo}}</span>
                                </div>
                            </div>
                            <div class="separador"></div>
                            <div class="caja-select" id="selectMarca">
                                <div class="ico-form img-car">
                                    <img class="img-responsive" src="../../img/general/car.svg" ng-show="data.ShowImgCarro">
                                    <img class="img-responsive" src="../../img/general/moto.svg" ng-show="data.ShowImgMoto" ng-hide="data.ShowImgCarro">
                                </div>
                                <div class="control-select-input">
                                    <select ng-show="data.ShowImgCarro" ng-model="data.marcaVehiculo" ng-change="calcularDatos()">
                                        <option value="">Elige la marca</option>
                                        <option>NISSAN</option>
                                        <option>FORD</option>
                                        <option>HYUNDAI</option>
                                        <option>MAZDA</option>
                                        <option>TOYOTA</option>
                                        <option>BMW</option>
                                        <option>MERCEDES BENZ</option>
                                        <option>MINI</option>
                                        <option>SUZUKI</option>
                                        <option>HONDA</option>
                                        <option>KIA</option>
                                        <option>VOLKSWAGEN</option>
                                        <option>AUDI</option>
                                        <option>MITSUBISHI</option>
                                        <option>CHEVROLET</option>
                                        <option>RENAULT</option>
                                        <option>CHANGAN</option>
                                        <option>CITROEN</option>
                                        <option>DODGE</option>
                                        <option>DS7</option>
                                        <option>DUCATI</option>
                                        <option>FIAT</option>
                                        <option>FOTON</option>
                                        <option>HINO</option>
                                        <option>JAC</option>
                                        <option>JAGUAR</option>
                                        <option>JEEP</option>
                                        <option>JMC</option>
                                        <option>MAHINDRA</option>
                                        <option>LAND ROVER</option>
                                        <option>MG</option>
                                        <option>PEUGEOT</option>
                                        <option>ROYAL</option>
                                        <option>SEAT</option>
                                        <option>SSANGYONG</option>
                                        <option>SUBARU</option>
                                        <option>VOLVO</option>
                                        <option>YAMAHA</option>
                                        <option>HAVAL</option>
                                        <option>GREAT WALL</option>
                                        <option>PORSCHE</option>
                                        <option>KORANDO</option>
                                        <option>DAIHATSU</option>
                                        <option>WAGON</option>
                                        <option>SKODA</option>
                                        <option>MASERATI</option>
                                        <option>ALFA</option>
                                        <option>KTM</option>
                                        <option>KAWASAKI</option>
                                        <option>DFSK</option>
                                        <option>BRP</option>
                                        <option>LEXUS</option>
                                        <option>LANDWIND</option>
                                        <option>FUSO</option>
                                        <option>JOHN DEERE</option>
                                        <option>HUSQVARNA</option>
                                        <option>BENELLI</option>
                                        <option>MACK</option>
                                        <option>RAM</option>
                                        <option>BYD</option>
                                    </select>
                                    <select ng-show="data.ShowImgMoto" ng-model="data.marcaVehiculo" ng-change="calcularDatos()">
                                        <option value="">Elige la marca</option>
                                        <option>Honda</option>
                                        <option>Suzuki</option>
                                        <option>Yamaha</option>
                                        <option>Kawasaki</option>
                                        <option>BMW</option>
                                        <option>United Motors</option>
                                        <option>Ducatti</option>
                                        <option>KMT</option>
                                        <option>Triumph</option>
                                        <option>Bajaj</option>
                                        <option>Sachs</option>
                                        <option>Piagio</option>
                                        <option>LML</option>
                                        <option>Kymco</option>
                                        <option>Keeway</option>
                                    </select>
                                    <label for="modelocarro" ng-show="data.ShowImgCarro">Marca del vehículo</label>
                                    <label for="modelocarro" ng-show="data.ShowImgMoto">Marca de la moto</label>
                                </div>

                            </div>
                        </div>
                        <div class="content-caja-select">
                            <div class="caja-select" id="precioVehiculo">
                                <div class="ico-form">
                                    <img src="../../img/general/money.svg">
                                </div>
                                <div class="control-select-input">
                                    <input type="text" ng-model="data.precioVehiculo" ng-change="calcularDatos()" autocomplete="off" maxlength="13" mileskeypress>
                                    <label for="modelocarro" ng-show="data.ShowImgCarro">Precio del vehículo</label>
                                    <label for="modelocarro" ng-show="data.ShowImgMoto">Precio de la moto</label>
                                    <div class="ico-form2" ng-show="data.errorPrecio != ''">
                                        <img src="../../img/general/alert.png">
                                    </div>
                                </div>
                                <span class="error">{{data.errorPrecio}}</span>
                            </div>
                            <div class="separador"></div>
                            <div class="caja-select" id="cuotaInicial">
                                <div class="ico-form">
                                    <img src="../../img/general/money.svg">
                                </div>
                                <div class="control-select-input">
                                    <input type="text" ng-model="data.cuotaInicial" ng-change="calcularDatos()" maxlength="13" autocomplete="off" mileskeypress>
                                    <label for="modelocarro">Cuota inicial</label>
                                    <div class="ico-form2" ng-show="data.errorCuota != ''">
                                        <img src="../../img/general/alert.png">
                                    </div>
                                </div>
                                <span class="error">{{data.errorCuota}}</span>
                            </div>
                        </div>
                        <div class="texto-monto">
                            <p>Monto a financiar:</p>
                        </div>
                        <div class=" content-monto">
                            <div class=" caja-monto ">
                                <div class="ico-form">
                                    <img src="../../img/general/money.svg">
                                </div>
                                <div class="control-select-input ">
                                    <span class="texto">{{data.montoFinanciar | number}}</span>
                                </div>
                            </div>
                        </div>
                        <span class="error">{{data.errorMonto}}</span>

                        <div class="texto-plazo">
                            <p>Elige el plazo en el que quieres pagar</p>
                        </div>
                        <!--<div class="content-caja-monto" ng-show="data.ShowMonto72Meses" ng-click="MostrarCuota(id=1)">
                            <div class="caja-plazos">
                                <label for="modelocarro">72 meses</label>
                            </div>
                        </div>-->
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=1)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto72MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>72 meses</p></span>
                                        <span ng-show="data.ShowMonto72MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota72meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=2)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto60MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>60 meses</p></span>
                                        <span ng-show="data.ShowMonto60MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota60meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=3)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto48MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>48 meses</p></span>
                                        <span ng-show="data.ShowMonto48MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota48meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=4)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto36MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>36 meses</p></span>
                                        <span ng-show="data.ShowMonto36MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota36meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=5)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto24MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>24 meses</p></span>
                                        <span ng-show="data.ShowMonto24MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota24meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(6)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.ShowMonto12MesesCuota}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>12 meses</p></span>
                                        <span ng-show="data.ShowMonto12MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-pink.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota12meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-buttons">
                            <button class="button-izquierdo" ng-disabled="data.cuotaMensual == ''" ng-click="contactenos()">CONTÁCTAME</button>
                            <button class="button-derecho" ng-disabled="data.cuotaMensual == ''" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoVehiculo'">¡LO QUIERO!</button>
                        </div>

                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A. </p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de seguro de vida .</p>
                                <p>***Simulador exclusivo para crédito de Vehículo de Banco Finandina S.A.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="texto-normal">Todos los derechos reservados 2021 - <b>Banco Finandina</b></p>
        <p class="texto-responsivo">Todos los derechos reservados 2021<br><span>Banco Finandina<span></p>
    </footer>
</body>
</html>