<!DOCTYPE html>
<html ng-app="LibreInversion">
<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/libreinversion/libreinversion.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/libreinversion.js"></script>
    <title>Simulador credito de libre inversion</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>

</head>
<body ng-controller="LibreInversionController">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <p>Simulador de Crédito de Libre Inversión <span>Banco Finandina</span></p>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Descubre las ventajas de poder solicitar un crédito<span> desde la comodidad de tu casa u oficina<span></p>
                    </div>
                    <div class="content-image">
                        <div class="img-izquierda imagen-fade" id="img-msg">
                        </div>
                        <div class="img-derecha imagen-fade" id="img-woman">
                        </div>
                    </div>
                    <div class="content-circunferencias">
                        <div id="c1" class="circunferencia"></div>
                        <div id="c2" class="circunferencia2"></div>
                        <div id="c3" class="circunferencia2"></div>
                        <div id="c4" class="circunferencia2"></div>
                    </div>
                    <!--<div class="content-texto-lateral">
                        <div class="texto-lateral-inferior">
                            <p>VIGILADO</p>
                        </div>
                        <div class="texto-lateral-superior">
                            <p>DE COLOMBIA<br>
                            SUPERINTENDECIA FINACIERA</p>
                        </div>
                    </div>-->

                    <div class="texto-inferior-imagen">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="texto">
                            <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                            <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 side-right" ng-init="limpiarlocalStorage()">
                    <div class="card-content">
                        <div class="texto-superior">
                            <p>Juntos conseguiremos lo que deseas, para ello cuéntanos un poco de ti.</p>
                        </div>


                        <div class="texto-superior-derecho">
                            <p>¿Cuáles son tus ingresos?</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select caja-select-ingresos">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <input ng-model="data.ingresos" type="text" maxlength="11" autocomplete="off" ng-change="calcularDatos()" mileskeypress>
                                    <label for="modelocarro">Tus ingresos</label>
                                </div>
                            </div>
                        </div>
                        <span class="error">{{data.erroringresos}}</span>

                        <div class="texto-superior-derecho">
                            <p>Elige el destino de tu crédito</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select">
                                <div class="ico-form icoSelect">
                                    <img src="../../img/general/wallet.svg">
                                </div>
                                <div class="control-select-input">
                                    <select ng-model="data.destino">
                                        <option value="">Elige tu opción</option>
                                        <option>Viajar</option>
                                        <option>Estudiar</option>
                                        <option>Comprar</option>
                                        <option>Pagar deudas</option>
                                        <option>Remodelar</option>
                                        <option>Comprar cartera</option>
                                        <option>Comprar bici</option>
                                        <option>Comprar vehículo</option>
                                        <option>Comprar moto</option>
                                        <option>Otra</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="texto-monto">
                            <p>¿Cuánto dinero necesitas?</p>
                        </div>
                        <div class="content-monto">
                            <div class="caja-monto ">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input ">
                                    <input ng-model="data.dineronecesito" type="text" autocomplete="off" ng-change="calcularDatos()" mileskeypress maxlength="11">
                                    <div class="ico-form2" ng-show="data.ShowErrorValor">
                                        <img src="../../img/general/alert.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-msg">
                            <span class="error">{{data.errornecesito}}</span>
                        </div>
                        

                        <div class="texto-plazo">
                            <p>Elige el plazo e identifica una cuota que se acomode a tu bolsillo o flujo de caja:</p>
                        </div>

                        <span class="error">{{data.errorplazo}}</span>
                        <div class="content-caja-monto" ng-show="data.ShowMonto60Meses" ng-click="MostrarCuota(id=2)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">60 meses</label>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto60MesesCuota">
                            <div class="caja-plazos-monto ">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>60 meses</p></span>
                                        <span class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuotaMensual | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto48Meses" ng-click="MostrarCuota(id=3)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">48 meses</label>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto48MesesCuota">
                            <div class="caja-plazos-monto ">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>48 meses</p></span>
                                        <span class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuotaMensual | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto36Meses" ng-click="MostrarCuota(id=4)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">36 meses</label>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto36MesesCuota">
                            <div class="caja-plazos-monto ">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>36 meses</p></span>
                                        <span class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuotaMensual | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto24Meses" ng-click="MostrarCuota(id=5)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">24 meses</label>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto24MesesCuota">
                            <div class="caja-plazos-monto ">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>24 meses</p></span>
                                        <span class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuotaMensual | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto12Meses" ng-click="MostrarCuota(id=6)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">12 meses</label>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-show="data.ShowMonto12MesesCuota">
                            <div class="caja-plazos-monto ">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>12 meses</p></span>
                                        <span class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuotaMensual | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-izquierdo" ng-disabled="data.cuotaMensual == ''" ng-click="showPlanPagos()">VER MI PLAN DE PAGOS</button>
                            <button class="button-derecho" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoLibreInversion'">SOLICITAR MI CRÉDITO</button>
                        </div>
                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <p class="texto-normal">Simulador exclusivo para Crédito de Libre Inversión de Banco Finandina S.A. Todos los derechos reservados 2020 - <b>Banco Finandina<b></p>
    </footer>
    <script>
        obj = document.getElementById('img-msg');
        obj2 = document.getElementById('img-woman');
        var time;
        var transparency = 0;        
        document.addEventListener("DOMContentLoaded", function (event) {
            setInterval('CambiarImagen()', 5000);
        })
        function CambiarImagen() {
                // Safari 1.2, posterior Firefox y Mozilla, CSS3
                obj.style.opacity = 0;
                obj2.style.opacity = 0;
                // anteriores Mozilla y Firefox
                obj.style.opacity = 0;
                obj2.style.opacity = 0;
                // Safari anterior a 1.2, Konqueror
                obj.style.KHTMLOpacity = 0;
                obj2.style.KHTMLOpacity = 0;
                obj.style.filter = 'alpha(opacity=0)'; 
                obj2.style.filter = 'alpha(opacity=0)'; 
            var i;
            for (i = 1; i <= 4; i++) {
                let nomdiv = document.getElementById('c' + i);
                transparency = 0; 
                if (nomdiv.className == 'circunferencia') {
                    if (i == 4) {
                        let divcambio = document.getElementById('c1');
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-libreinversion-1.png">';
                        document.getElementById('img-woman').innerHTML = '<img src="../../img/general/woman-1.png">';
                        time = setInterval('fadeIn()',50);

                    } else {
                        i = i + 1;
                        let divcambio = document.getElementById('c' + i);
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-libreinversion-' + i + '.png">';
                        document.getElementById('img-woman').innerHTML = '<img src="../../img/general/woman-' + i + '.png">';
                        time = setInterval('fadeIn()',50);
                        break;

                    }
                };
            }
        }

        function fadeIn() {
          //
          //incrementamos el valor
          transparency += 5; 
          //si termino la trnsicion borramos el intervalo
          transparency = (transparency == 100) ? clearInterval(time) : transparency;
          //seteamos al div como objeto para poder usarlo
          //obj = document.getElementById('fading');
          //programamos cada navegador por separado
          if (document.all){ 
            //esto es para IE, como siempre hay q programarlo a parte
            obj.style.filter = 'alpha(opacity='+transparency+')';
            obj2.style.filter = 'alpha(opacity='+transparency+')';
          }else{
            // Safari 1.2, posterior Firefox y Mozilla, CSS3
            obj.style.opacity = transparency /100;
            obj2.style.opacity = transparency /100;
            // anteriores Mozilla y Firefox
            obj.style.MozOpacity = transparency /100;
            obj2.style.MozOpacity = transparency /100;
            // Safari anterior a 1.2, Konqueror
            obj.style.KHTMLOpacity = transparency /100; 
            obj2.style.KHTMLOpacity = transparency /100;  
          } 
        };



    </script>


</body>
</html>