<!DOCTYPE html>
<html ng-app="LibreInversion">

<head>

    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/libreinversion/libreinversion.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick-theme.css" />

    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/libreinversion.js"></script>
    <script type="text/javascript" src="../../plugins/slick/slick.js"></script>
    <title>Simulador credito de libre inversion</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>

</head>

<body ng-controller="LibreInversionController">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <span>Simulador de Crédito de Libre Inversión <span class="texto-encabezado-mobile">Banco Finandina</span></span>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row" ng-init="cargarslide()">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <!--<div class="div-flotante">-->
                    <div class="texto-superior-imagen">
                        <p>Descubre las ventajas de poder solicitar un crédito<span> desde la comodidad de tu casa u oficina<span></p>
                    </div>
                    <div class="content-image" id="img-dinamica">
                        <div class="img-izquierda imagen-fade" id="img-msg">
                        </div>
                        <div class="img-derecha imagen-fade" id="img-woman">
                        </div>
                    </div>

                    <div class="carrusel">
                        <div><img src="../../img/general/woman-1.png" alt="woman-1" /></div>
                        <div><img src="../../img/general/woman-2.png" alt="woman-2" /></div>
                        <div><img src="../../img/general/woman-3.png" alt="woman-3" /></div>
                        <div><img src="../../img/general/woman-4.png" alt="woman-4" /></div>
                    </div>

                    <div class="texto-inferior-imagen">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="texto">
                            <p>* El valor de cuota propuesta no incluye valor de prima mensual de los seguros, los valores descritos en el presente simulador son informativos y se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                        </div>
                    </div>
                    <!--</div>-->
                </div>

                <div class="col-12 side-right" ng-init="limpiarlocalStorage()">
                    <div class="card-content">
                        <div class="texto-superior">
                            <p>Juntos conseguiremos lo que deseas, para ello cuéntanos un poco de ti.</p>
                        </div>

                        <div class="texto-superior-derecho">
                            <p>¿Cuáles son tus ingresos mensuales?</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select caja-select-ingresos">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <input ng-model="data.ingresos" type="text" placeholder="Tus ingresos" maxlength="11" autocomplete="off" ng-change="calcularDatos()" mileskeypress tabindex="1">
                                    <!--<span for="modelocarro">Tus ingresos</span>-->
                                </div>
                            </div>
                        </div>
                        <span class="error" ng-if="data.erroringresos">Indica tus ingresos mensuales</span>
                        <span class="error" ng-if="data.erroringresosmin">El ingreso mínimo permitido es ${{data.minIngresos | number}}</span>


                        <div class="texto-superior-derecho">
                            <p>Elige el destino de tu crédito</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select">
                                <div class="ico-form icoSelect">
                                    <img src="../../img/general/wallet.svg">
                                </div>
                                <div class="control-select-input">
                                    <select ng-model="data.destino" tabindex="2">
                                        <option value="">Elige tu opción</option>
                                        <option>Viajar</option>
                                        <option>Estudiar</option>
                                        <option>Comprar</option>
                                        <option>Pagar deudas</option>
                                        <option>Remodelar</option>
                                        <option>Comprar cartera</option>
                                        <option>Comprar bici</option>
                                        <option>Comprar vehículo</option>
                                        <option>Comprar moto</option>
                                        <option>Otra</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="texto-monto">
                            <p>¿Cuánto dinero necesitas?</p>
                        </div>
                        <div class="content-monto">
                            <div class="caja-monto ">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input ">
                                    <input ng-model="data.dineronecesito" type="text" autocomplete="off" ng-change="calcularDatos()" mileskeypress maxlength="11" tabindex="3">
                                    <div class="ico-form2" ng-show="data.ShowErrorValor">
                                        <img src="../../img/general/alert.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-msg">
                            <span class="error" ng-if="data.errornecesito">Indica el monto del dinero que necesitas</span>
                            <span class="error" ng-if="data.errornecesitomin">El monto mínimo que te podemos prestar es ${{data.minMonto | number}}</span>
                            <span class="error" ng-if="data.errornecesitomax">El monto máximo que te podemos prestar es ${{data.maxMonto | number}}</span>
                            <span class="error" ng-if="data.errornecesitocomparado">El monto que intentas solicitar es superior al valor que te podemos prestar de acuerdo a tu capacidad, el valor máximo que te podemos prestar es ${{prestamoTotal | number}}</span>
                        </div>

                        <div class="texto-plazo">
                            <p>Elige el plazo y cuota que mejor se acomode a tu bolsillo o flujo de caja:</p>
                        </div>
                        <span class="error" ng-if="data.errorplazo">Elige un plazo</span>
                        <!--<div class="content-caja-monto" >
                            <div class="caja-plazos">
                                <label for="modelocarro">60 meses</label>
                            </div>
                        </div>-->
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=2)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto60MesesCuota}" tabindex="4">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>60 meses</p></span>
                                        <span ng-show="data.ShowMonto60MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual*</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota60meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=3)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto48MesesCuota}" tabindex="5">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>48 meses</p></span>
                                        <span ng-show="data.ShowMonto48MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual*</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota48meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=4)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto36MesesCuota}" tabindex="6">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>36 meses</p></span>
                                        <span ng-show="data.ShowMonto36MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual*</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota36meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=5)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto24MesesCuota}" tabindex="7">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>24 meses</p></span>
                                        <span ng-show="data.ShowMonto24MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual*</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota24meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=6)">
                            <div class="caja-plazos-monto" ng-class="{'select':data.ShowMonto12MesesCuota}" tabindex="8">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>12 meses</p></span>
                                        <span ng-show="data.ShowMonto12MesesCuota" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda"><p>Cuota mensual*</p></span>
                                        <span class="caja-derecha texto-info">$ {{data.cuota12meses | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-izquierdo" ng-disabled="data.cuotaMensual == ''" ng-click="showPlanPagos()" tabindex="9">VER MI PLAN DE PAGOS</button>
                            <button class="button-derecho" tabindex="10" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoLibreInversion'">SOLICITAR MI CRÉDITO</button>
                        </div>
                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="texto-normal">Simulador exclusivo para Crédito de Libre Inversión de Banco Finandina S.A. Todos los derechos reservados 2021 - <b>Banco Finandina<b></p>
    </footer>

</body>
</html>