<!DOCTYPE html>
<html ng-app="LibreInversion">
<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/libreinversion/libreinversion.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/libreinversion.js"></script>
    <title>Simulador credito de libre inversion</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
</head>
<body ng-controller="LibreInversionController">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <span>Simulador de Crédito de Libre Inversión <span class="texto-encabezado-mobile">Banco Finandina</span></span>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Mereces realizar eso que tanto quieres,<span> estás a pocos clics de disfrutar tu crédito 100% digital<span></p>
                    </div>
                    <div class="img-planpagos">
                        <img src="../../img/general/persons.png">
                    </div>

                    <!--<div class="content-texto-lateral">
                        <div class="texto-lateral-inferior">
                            <p>VIGILADO</p>
                        </div>
                        <div class="texto-lateral-superior">
                            <p>DE COLOMBIA<br>
                            SUPERINTENDECIA FINACIERA</p>
                        </div>
                    </div>-->

                    <div class="texto-inferior-imagen">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="texto">
                            <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                            <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <div class="card-content" ng-init="obtenerPlan()">
                        <div class="content-img-texto">
                            <div class="img-pc">
                                <img src="../../img/general/pc.png">
                            </div>
                            <div class="content-texto">
                                <p>Gracias por contarnos qué deseabas.<br><br> Aquí están los datos de tu simulación:</p>
                                <div class="texto-valores">
                                    <p>
                                        Tus ingresos: <span>${{data.ingresos | number}}</span><br>
                                        Valor de tu crédito:<span> ${{data.dineronecesito | number}}</span><br>
                                        Plazo: <span>{{data.plazo}} meses</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-texto-2">
                            <div class="texto-superior-img">
                                <p>Gracias por contarnos qué deseabas.<br> Aquí están los datos de tu simulación:</p>
                            </div>
                            <div class="content-texto">
                                <div class="img-pc">
                                    <img src="../../img/general/pc.png">
                                </div>
                                <div class="texto-valores">
                                    <p>
                                        Tus ingresos: <span>${{data.ingresos | number}}</span><br>
                                        Valor de tu crédito:<span> ${{data.dineronecesito | number}}</span><br>
                                        Plazo: <span>{{data.plazo}} meses</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="texto-tabla">
                            <!--<div class="ico-form3">
                                <img src="../../img/general/happy.png">
                            </div>-->
                            <p>¡Fantástico! Y así quedaría tu plan de pagos</p>
                        </div>
                        <div class="texto-tabla-2">

                            <p>
                                <span class="ico-form3">
                                    <!--<img src="../../img/general/happy.png">-->
                                </span>¡Fantástico!<br>Y así quedaría tu plan de pagos
                            </p>
                        </div>

                        <div class="content-tabla">
                            <table class="tabla" cellspacing="0" id="tablapagos2">
                                <tr>
                                    <th>Mes</th>
                                    <th>Cuota</th>
                                    <th>Intereses</th>
                                    <th>Abono Capital</th>
                                    <th>Saldo</th>
                                </tr>
                                <tr ng-repeat="row in data.planPago2">
                                    <td class="{{row.estilo}}">{{row.mes}}</td>
                                    <td class="{{row.estilo}}">{{row.cuota | currency}}</td>
                                    <td class="{{row.estilo}}">{{row.interes | currency}}</td>
                                    <td class="{{row.estilo}}">{{row.abonoCapital | currency}}</td>
                                    <td class="{{row.estilo}}">{{row.saldo | currency}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="content-tabla-2">
                            <table class="tabla" cellspacing="0" id="tablapagos2">
                                <tr class="total-tabla">
                                    <th>Total</th>
                                    <th></th>
                                    <th>{{data.dineronecesito|currency}}</th>
                                    <th colspan="3"></th>
                                </tr>
                            </table>
                        </div>


                        <div class="content-button-descarga">
                            <div class="caja-vacia">
                                <div class="paginador">
                                    <div class="caja-pagina flecha" ng-click="paginador('ant')">
                                        <div class="numero"><</div>
                                    </div>
                                    <div class="caja-pagina" id="num-1" ng-click="paginador(1)">
                                        <div class="numero">1</div>
                                    </div>
                                    <div class="caja-pagina" id="num-2" ng-click="data.pag2 && paginador(2)" ng-class="{'disabled':!data.pag2}">
                                        <div class="numero">2</div>
                                    </div>
                                    <div class="caja-pagina" id="num-3" ng-click="data.pag3 && paginador(3)" ng-class="{'disabled':!data.pag3}">
                                        <div class="numero">3</div>
                                    </div>
                                    <div class="caja-pagina" id="num-4" ng-click="data.pag4 && paginador(4)" ng-class="{'disabled':!data.pag4}">
                                        <div class="numero">4</div>
                                    </div>
                                    <div class="caja-pagina" id="num-5" ng-click="data.pag5 && paginador(5)" ng-class="{'disabled':!data.pag5}">
                                        <div class="numero">5</div>
                                    </div>
                                    <div class="caja-pagina flecha" ng-click="paginador('sig')">
                                        <div class="numero"><span>></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-button-descarga-int">
                                <button class="button-descarga" ng-click="exportar()">Descarga tu plan de pagos  </button>
                                <!--<button class="button-descarga" onclick="exportarInformacion();">Descarga tu plan de pagos  </button>-->
                            </div>

                        </div>

                        <div class="texto-correo">
                            <p>Ingresa tu correo y recibe una copia de la simulación del plan de pagos</p>
                        </div>
                        <div class="content-caja-correo">
                            <div class="caja-select ">
                                <div class="ico-form">
                                    <img src="../../img/general/plain-blue.svg">
                                </div>
                                <div class="control-select-input input-correo">
                                    <input type="email" ng-model="data.email" ng-change="data.erroremail = ''" autocomplete="off" ng-disabled="data.envioOK">
                                    <div class="content-button-correo"><button class="button-correo" ng-disabled="data.email == '' || data.envioOK" ng-click="guardarInfo(1)">ENVIAR</button></div>
                                </div>
                            </div>
                            <span class="error">{{data.erroremail}}</span>
                            <span ng-show="data.envioOK" class="txtOK">En un momento te enviaremos el plan de pagos a tu correo!</span>
                            <div class="content-button-correo-2"><button class="button-correo" ng-disabled="data.email == ''" ng-click="guardarInfo(1)">ENVIAR</button></div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-izquierdo" ng-click="showindex()">SIMULAR OTRO CRÉDITO</button>
                            <button class="button-derecho" ng-click="guardarInfo(2)" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoLibreInversion'">SOLICITAR MI CRÉDITO</button>
                            <button class="button-banco" onclick="window.location='https://bancofinandina.com'">
                                <svg id="icon-hover" xmlns="http://www.w3.org/2000/svg" width="23.54" height="20.984" viewBox="0 0 23.54 20.984">
                                    <g id="Grupo_6019" data-name="Grupo 6019" transform="translate(-756.246 -83.796)">
                                        <g id="Grupo_6016" data-name="Grupo 6016">
                                            <g id="Grupo_6015" data-name="Grupo 6015">
                                                <path id="Trazado_6843" d="M779.536 92.084l-11.159-8.17a.612.612 0 0 0-.722 0l-11.155 8.17a.613.613 0 0 0-.132.855c.2.273.461.1.855.132l11.472-.132 10.122.132h.422c.2 0 .318.025.433-.132a.611.611 0 0 0-.136-.855z" class="cls-1" data-name="Trazado 6843"></path>
                                            </g>
                                        </g>
                                        <g id="Grupo_6018" data-name="Grupo 6018">
                                            <g id="Grupo_6017" data-name="Grupo 6017">
                                                <path id="Trazado_6844" d="M776.575 92.386c-.338 0-7.092-.856-8.78-.858s-8 1.682-8.955 1.113c-.337 0 0 .841 0 1.179v10.347a.612.612 0 0 0 .611.612h6.118a.611.611 0 0 0 .609-.564.371.371 0 0 0 0-.048v-5.924a1.836 1.836 0 0 1 3.671 0v5.925a.377.377 0 0 0 0 .047.611.611 0 0 0 .609.565h6.117a.612.612 0 0 0 .612-.612V93.821c0-.336-.276-1.432-.612-1.435z" class="cls-1" data-name="Trazado 6844"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg> Ir al banco
                            </button>
                        </div>

                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none" ng-show="false">
            <table cellspacing="0" id="tablapagos">
                <tr>
                    <th>Mes</th>
                    <th>Cuota</th>
                    <th>Intereses</th>
                    <th>Abono Capital</th>
                    <th>Saldo</th>
                </tr>
                <tr ng-repeat="row in data.planPago">
                    <td>{{row.mes}}</td>
                    <td>{{row.cuota|currency}}</td>
                    <td>{{row.interes|currency}}</td>
                    <td>{{row.abonoCapital|currency}}</td>
                    <td>{{row.saldo|currency}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>{{data.dineronecesito|currency}}</th>
                </tr>
            </table>
        </div>

    </div>

    <!--<script>
        function exportarInformacion() {
            var filename = 'planpagos' + '.csv';
            var csv = [];
            var table = document.getElementById('tablapagos'),
                rows = table.getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join("|"));
            }

            downloadCSV(csv.join("\n"), filename);
        }

        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], { type: "text/csv" });
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }

    </script>-->
    <footer>
        <p class="texto-normal">Simulador exclusivo para Crédito de Libre Inversión de Banco Finandina S.A.<span> Todos los derechos reservados 2021 - Banco Finandina</span></p>
    </footer>
</body>
</html>