<!DOCTYPE html>
<html ng-app="simuladorCDT">

<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../css/cdt/simuladorcdt.min.css">
    <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick-theme.css" />
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/simuladocdt.js"></script>
    <script type="text/javascript" src="../../plugins/slick/slick.js"></script>
    <title>simulador creditos de cdt</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
</head>

<body ng-controller="CdtController" onresize="resize()">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <p class="enc-1">Simulador de CDT <span>Banco Finandina</span></p>
            <p class="enc-2">Simulador de CDT <br><span>Banco Finandina</span></p>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row" ng-init="cargarslide()">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Proyecta los rendimientos de tu <span>Inversión Digital<span></p>
                    </div>
                    <div class="content-image" id="img-dinamica">
                        <div class="img-izquierda" id="img-msg">
                        </div>
                        <div class="img-derecha" id="img-family">
                        </div>
                        <div class="img-fogafin" id="fogafin">
                            <img src="../../img/general/fogafin.png">
                        </div>
                    </div>
                    <div class="content-circunferencias">
                        <div id="c1" class="circunferencia"></div>
                        <div id="c2" class="circunferencia2"></div>
                        <div id="c3" class="circunferencia2"></div>
                        <div id="c4" class="circunferencia2"></div>
                    </div>
                    <div class="carrusel" style="display: grid;text-align: -webkit-center">
                        <div><img src="../../img/general/family-1.png" alt="family-1" /></div>
                        <div><img src="../../img/general/family-2.png" alt="family-2" /></div>
                        <div><img src="../../img/general/family-3.png" alt="family-3" /></div>
                        <div><img src="../../img/general/family-4.png" alt="family-4" /></div>
                    </div>
                    <div class="texto-inferior-imagen">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="texto">
                            <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de inversión CDT realizada por el cliente a Banco Finandina S.A.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <div class="card-content">
                        <div class="texto-superior">
                            <p class="texto-sup-1">¿Cuánto quieres invertir?</p>
                            <p class="texto-sup-2">¿Cuánto quieres invertir?</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select input-inversion">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input ">
                                    <input class="input-inv-input" ng-model="data.montoInversion" type="text" autocomplete="off" mileskeypress ng-change="calculos()" maxlength="11">
                                    <label for="modelocarro">Tu inversión</label>
                                </div>

                            </div>
                            <div class="caja-select-porcentaje">
                                <div class="ico-porcentaje">
                                    <img src="../../img/general/porcent.svg">
                                </div>
                                <div class="input-porcentaje">
                                    <input ng-model="data.tasaEA_texto" type="text" autocomplete="off" readonly>
                                    <label class="label-resp-fecha" for="modelocarro">Tasa E.A.</label>
                                </div>
                            </div>
                        </div>
                        <span class="error">{{data.errormonto}}</span>

                        <div class="texto-superior-derecho">
                            <p>¿A cuánto tiempo quieres hacer tu inversión?</p>
                        </div>

                        <div class="content-caja-select content-dias">
                            <div class="caja-select ">
                                <div class="ico-form">
                                    <img src="../../img/general/calendar1.svg">
                                </div>
                                <div class="control-select-input">
                                    <input class="input-dias" ng-model="data.plazoDias" type="number" min="90" autocomplete="off" ng-change="calculos()">
                                    <label for="modelocarro">En días</label>
                                </div>
                            </div>
                        </div>
                        <span class="error error-2">{{data.errordias}}</span>

                        <div class="texto-superior-derecho">
                            <p>Estos son los intereses que recibirás por tu inversión</p>
                        </div>
                        <div class="content-caja-select content-monto-interes">
                            <div class="caja-select caja-interes">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <span class="texto">{{data.montoInteresNeto ? (data.montoInteresNeto | number) : ''}}</span>
                                    <label for="modelocarro">Tu ganancia es</label>
                                </div>
                            </div>
                        </div>
                        <div class="texto-aviso">
                            <p>*Esta cifra incluye retenciones del {{data.fuente}}%</p>
                        </div>

                        <div class="content-caja-select content-caja-responsive content-caja-select-tinversion">
                            <div class="caja-select caja-interes caja-resp-inv">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <span class="texto">{{data.totalInversion ? (data.totalInversion | number) : ''}}</span>
                                    <label for="modelocarro">Total inversión + interés</label>
                                </div>
                            </div>
                            <div class="separador"></div>
                            <div class="caja-select-porcentaje caja-select-fecha">
                                <div class="ico-porcentaje ico-fecha">
                                    <img src="../../img/general/calendar2.svg">
                                </div>
                                <div class=" input-porcentaje input-fecha">
                                    <!--<span>{{data.fechaFinal | date:'dd/MM/yyyy'}}</span>-->
                                    <input ng-model="data.fechaFinal" type="text" autocomplete="off" readonly>
                                    <label for="modelocarro">Fecha final</label>
                                </div>
                            </div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-derecho" ng-disabled="data.totalInversion == ''" ng-click="contactenos()">¡QUIERO MI CDT!</button>
                            <!--<button class="button-derecho" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CDT'">¡QUIERO MI CDT!</button>-->
                        </div>
                        <div class="botoncentral">
                            <a href="https://bancofinandina.com">
                                <span>
                                    <svg id="icon-hover" xmlns="http://www.w3.org/2000/svg" width="23.54" height="20.984" viewBox="0 0 23.54 20.984">
                                        <g id="Grupo_6019" data-name="Grupo 6019" transform="translate(-756.246 -83.796)">
                                            <g id="Grupo_6016" data-name="Grupo 6016">
                                                <g id="Grupo_6015" data-name="Grupo 6015">
                                                    <path id="Trazado_6843" d="M779.536 92.084l-11.159-8.17a.612.612 0 0 0-.722 0l-11.155 8.17a.613.613 0 0 0-.132.855c.2.273.461.1.855.132l11.472-.132 10.122.132h.422c.2 0 .318.025.433-.132a.611.611 0 0 0-.136-.855z" class="cls-1" data-name="Trazado 6843"></path>
                                                </g>
                                            </g>
                                            <g id="Grupo_6018" data-name="Grupo 6018">
                                                <g id="Grupo_6017" data-name="Grupo 6017">
                                                    <path id="Trazado_6844" d="M776.575 92.386c-.338 0-7.092-.856-8.78-.858s-8 1.682-8.955 1.113c-.337 0 0 .841 0 1.179v10.347a.612.612 0 0 0 .611.612h6.118a.611.611 0 0 0 .609-.564.371.371 0 0 0 0-.048v-5.924a1.836 1.836 0 0 1 3.671 0v5.925a.377.377 0 0 0 0 .047.611.611 0 0 0 .609.565h6.117a.612.612 0 0 0 .612-.612V93.821c0-.336-.276-1.432-.612-1.435z" class="cls-1" data-name="Trazado 6844"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    Ir al inicio
                                </span>
                            </a>
                        </div>
                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="texto-normal">Todos los derechos reservados 2020 - <b>Banco Finandina<b></p>
        <p class="texto-responsivo">Todos los derechos reservados 2020 <br><b>Banco Finandina<b></p>
    </footer>
    <script>
        obj = document.getElementById('img-msg');
        obj2 = document.getElementById('img-family');
        var time;
        var transparency = 0;
        document.addEventListener("DOMContentLoaded", function (event) {
            /*if (screen.width<400){
                document.getElementById('img-dinamica').style.height='200px';
                document.getElementById('img-msg').style.width='41%';
                document.getElementById('img-msg').style.left='28px';
                document.getElementById('img-family').style.marginLeft ='1px';
                document.getElementById('fogafin').style.marginTop ='169px';
                document.getElementById('fogafin').style.marginLeft ='-36px';
            }    */
            setInterval('CambiarImagen()', 5000);
        })
        function CambiarImagen() {
            // Safari 1.2, posterior Firefox y Mozilla, CSS3
            obj.style.opacity = 0;
            obj2.style.opacity = 0;
            // anteriores Mozilla y Firefox
            obj.style.opacity = 0;
            obj2.style.opacity = 0;
            // Safari anterior a 1.2, Konqueror
            obj.style.KHTMLOpacity = 0;
            obj2.style.KHTMLOpacity = 0;
            obj.style.filter = 'alpha(opacity=0)';
            obj2.style.filter = 'alpha(opacity=0)';
            var i;
            for (i = 1; i <= 4; i++) {
                let nomdiv = document.getElementById('c' + i);
                transparency = 0;
                if (nomdiv.className == 'circunferencia') {
                    if (i == 4) {
                        let divcambio = document.getElementById('c1');
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-cdt-1.png">';
                        document.getElementById('img-family').innerHTML = '<img src="../../img/general/family-1.png">';
                        time = setInterval('fadeIn()', 50);

                    } else {
                        i = i + 1;
                        let divcambio = document.getElementById('c' + i);
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-cdt-' + i + '.png">';
                        document.getElementById('img-family').innerHTML = '<img src="../../img/general/family-' + i + '.png">';
                        time = setInterval('fadeIn()', 50);
                        break;

                    }
                };
            }
        }

        function fadeIn() {
            //
            //incrementamos el valor
            transparency += 5;
            //si termino la trnsicion borramos el intervalo
            transparency = (transparency == 100) ? clearInterval(time) : transparency;
            //seteamos al div como objeto para poder usarlo
            //obj = document.getElementById('fading');
            //programamos cada navegador por separado
            if (document.all) {
                //esto es para IE, como siempre hay q programarlo a parte
                obj.style.filter = 'alpha(opacity=' + transparency + ')';
                obj2.style.filter = 'alpha(opacity=' + transparency + ')';
            } else {
                // Safari 1.2, posterior Firefox y Mozilla, CSS3
                obj.style.opacity = transparency / 100;
                obj2.style.opacity = transparency / 100;
                // anteriores Mozilla y Firefox
                obj.style.MozOpacity = transparency / 100;
                obj2.style.MozOpacity = transparency / 100;
                // Safari anterior a 1.2, Konqueror
                obj.style.KHTMLOpacity = transparency / 100;
                obj2.style.KHTMLOpacity = transparency / 100;
            }
        };

        function resize() {
            //if (document.documentElement.clientWidth < 400) {
            //    document.getElementById('img-dinamica').style.height = '200px';
            //    document.getElementById('img-msg').style.width = '41%';
            //    document.getElementById('img-msg').style.left = '28px';
            //    document.getElementById('img-family').style.marginLeft = '1px';
            //    document.getElementById('fogafin').style.marginTop = '169px';
            //    document.getElementById('fogafin').style.marginLeft = '-36px';
            //} else {
            //    document.getElementById('img-dinamica').style.height = '70%';
            //    document.getElementById('img-msg').style.maxWidth = '100%';
            //    document.getElementById('img-msg').style.left = '25px';
            //    document.getElementById('img-family').style.marginLeft = '-30px';
            //    document.getElementById('fogafin').style.marginTop = '359px';
            //    document.getElementById('fogafin').style.marginLeft = '-120px';

            //}
        }



    </script>

</body>
</html>