<!DOCTYPE html>
<html ng-app="simuladorCDT">
<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/cdt/simuladorcdt.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/simuladocdt.js"></script>
    <title>simulador creditos de cdt</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
</head>
<body ng-controller="CdtController">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <p class="enc-1">Simulador de CDT <span>Banco Finandina</span></p>
            <p class="enc-2">Simulador de CDT <br><span>Banco Finandina</span></p>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Proyecta los rendimientos de tu <span>Inversión Digital<span></p>
                    </div>
                    <div class="content-image">
                        <div class="img-izquierda" id="img-msg">
                        </div>
                        <div class="img-derecha" id="img-family">
                        </div>
                        <div class="img-fogafin">
                            <img src="../../img/general/fogafin.png">
                        </div>
                    </div>
                    <div class="content-circunferencias">
                        <div id="c1" class="circunferencia"></div>
                        <div id="c2" class="circunferencia2"></div>
                        <div id="c3" class="circunferencia2"></div>
                        <div id="c4" class="circunferencia2"></div>
                    </div>

                    <div class="texto-inferior-imagen">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="texto">
                            <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de inversión CDT realizada por el cliente a Banco Finandina S.A.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <div class="card-content">
                        <div class="texto-superior">
                            <p class="texto-sup-1">¿Cuánto quieres invertir?</p>
                            <p class="texto-sup-2">¿Cuánto quieres invertir?</p>
                        </div>

                        <div class="content-caja-select">
                            <div class="caja-select input-inversion">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input ">
                                    <input class="input-inv-input" ng-model="data.montoInversion" type="text" autocomplete="off" mileskeypress ng-change="calculos()" maxlength="12">
                                    <label for="modelocarro">Tu inversión</label>
                                </div>

                            </div>
                            <div class="caja-select-porcentaje">
                                <div class="ico-porcentaje">
                                    <img src="../../img/general/porcent.svg">
                                </div>
                                <div class="input-porcentaje">
                                    <input ng-model="data.tasaEA_texto" type="text" autocomplete="off" readonly>
                                    <label class="label-resp-fecha" for="modelocarro">Tasa M.V.</label>
                                </div>
                            </div>
                        </div>
                       <span class="error">{{data.errormonto}}</span>

                        <div class="texto-superior-derecho">
                            <p>¿A cuánto tiempo quieres hacer tu inversión?</p>
                        </div>

                        <div class="content-caja-select content-dias">
                            <div class="caja-select ">
                                <div class="ico-form">
                                    <img src="../../img/general/calendar1.svg">
                                </div>
                                <div class="control-select-input">
                                    <input class="input-dias" ng-model="data.plazoDias" type="number" min="90" autocomplete="off" ng-change="calculos()">
                                    <label for="modelocarro">En días</label>
                                </div>
                            </div>
                        </div>
                        <span class="error error-2">{{data.errordias}}</span>

                        <div class="texto-superior-derecho">
                            <p>Estos son los intereses que recibirás por tu inversión</p>
                        </div>
                        <div class="content-caja-select content-monto-interes">
                            <div class="caja-select caja-interes">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <span class="texto">{{data.montoInteresNeto ? (data.montoInteresNeto | number) : ''}}</span>
                                    <label for="modelocarro">Tu ganancia es</label>
                                </div>
                            </div>
                        </div>
                        <div class="texto-aviso">
                            <p>*Esta cifra incluye retenciones del {{data.fuente}}%</p>
                        </div>

                        <div class="content-caja-select content-caja-responsive content-caja-select-tinversion">
                            <div class="caja-select caja-interes caja-resp-inv">
                                <div class="ico-form">
                                    <img src="../../img/general/money-green.svg">
                                </div>
                                <div class="control-select-input input-ingresos">
                                    <span class="texto">{{data.totalInversion ? (data.totalInversion | number) : ''}}</span>
                                    <label for="modelocarro">Total inversión + interés</label>
                                </div>
                            </div>
                            <div class="separador"></div>
                            <div class="caja-select-porcentaje caja-select-fecha">
                                <div class="ico-porcentaje ico-fecha">
                                    <img src="../../img/general/calendar2.svg">
                                </div>
                                <div class=" input-porcentaje input-fecha">
                                    <!--<span>{{data.fechaFinal | date:'dd/MM/yyyy'}}</span>-->
                                    <input ng-model="data.fechaFinal" type="text" autocomplete="off" readonly>
                                    <label for="modelocarro">Fecha final</label>
                                </div>
                            </div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-derecho" ng-disabled="data.totalInversion == ''" ng-click="contactenos()">¡QUIERO MI CDT!</button>
                            <!--<button class="button-derecho" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CDT'">¡QUIERO MI CDT!</button>-->
                        </div>

                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>*Los valores descritos en el presente simulador son informativos, se encuentran sujetos a la solicitud formal de crédito realizada por el cliente a Banco Finandina S.A.</p>
                                <p>** El valor de cuota propuesta no incluye valor de prima mensual de los seguros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="texto-normal">Todos los derechos reservados 2020 - <b>Banco Finandina<b></p>
        <p class="texto-responsivo">Todos los derechos reservados 2020 <br><b>Banco Finandina<b></p>
    </footer>
    <script>
        obj = document.getElementById('img-msg');
        obj2 = document.getElementById('img-family');
        var time;
        var transparency = 0;        
        document.addEventListener("DOMContentLoaded", function (event) {
            setInterval('CambiarImagen()', 5000);
        })
        function CambiarImagen() {
                // Safari 1.2, posterior Firefox y Mozilla, CSS3
                obj.style.opacity = 0;
                obj2.style.opacity = 0;
                // anteriores Mozilla y Firefox
                obj.style.opacity = 0;
                obj2.style.opacity = 0;
                // Safari anterior a 1.2, Konqueror
                obj.style.KHTMLOpacity = 0;
                obj2.style.KHTMLOpacity = 0;
                obj.style.filter = 'alpha(opacity=0)'; 
                obj2.style.filter = 'alpha(opacity=0)'; 
            var i;
            for (i = 1; i <= 4; i++) {
                let nomdiv = document.getElementById('c' + i);
                transparency = 0; 
                if (nomdiv.className == 'circunferencia') {
                    if (i == 4) {
                        let divcambio = document.getElementById('c1');
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-cdt-1.png">';
                        document.getElementById('img-family').innerHTML = '<img src="../../img/general/family-1.png">';
                        time = setInterval('fadeIn()',50);

                    } else {
                        i = i + 1;
                        let divcambio = document.getElementById('c' + i);
                        divcambio.className = 'circunferencia';
                        nomdiv.className = 'circunferencia2';
                        document.getElementById('img-msg').innerHTML = '<img src="../../img/general/messenge-cdt-' + i + '.png">';
                        document.getElementById('img-family').innerHTML = '<img src="../../img/general/family-' + i + '.png">';
                        time = setInterval('fadeIn()',50);
                        break;

                    }
                };
            }
        }

        function fadeIn() {
          //
          //incrementamos el valor
          transparency += 5; 
          //si termino la trnsicion borramos el intervalo
          transparency = (transparency == 100) ? clearInterval(time) : transparency;
          //seteamos al div como objeto para poder usarlo
          //obj = document.getElementById('fading');
          //programamos cada navegador por separado
          if (document.all){ 
            //esto es para IE, como siempre hay q programarlo a parte
            obj.style.filter = 'alpha(opacity='+transparency+')';
            obj2.style.filter = 'alpha(opacity='+transparency+')';
          }else{
            // Safari 1.2, posterior Firefox y Mozilla, CSS3
            obj.style.opacity = transparency /100;
            obj2.style.opacity = transparency /100;
            // anteriores Mozilla y Firefox
            obj.style.MozOpacity = transparency /100;
            obj2.style.MozOpacity = transparency /100;
            // Safari anterior a 1.2, Konqueror
            obj.style.KHTMLOpacity = transparency /100; 
            obj2.style.KHTMLOpacity = transparency /100;  
          } 
        };



    </script>    

</body>
</html>