<!DOCTYPE html>
<html ng-app="Libranza">
<head>
    <!--<meta http-equiv="refresh" content="10">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/libranza/libranza.min.css" rel="stylesheet">
    <script src="../../js/angular.min.js"></script>
    <script src="../../src/js/libranza.js"></script>
    <title>Simulador de credito de Libranza</title>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script>
</head>
<body ng-controller="LibranzaController">
    <div class="header-credito">
        <div class="logo">
            <img src="../../img/general/logo-white.svg">
        </div>
        <div class="texto-encabezado">
            <p>Simulador de Libranza <span class="texto-encabezado-mobile">Banco Finandina</span></p>
        </div>
        <div class="img-bancodigital">
            <img src="../../img/general/banca-digital.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 side-left">
                    <div class="texto-superior-imagen">
                        <p>Conoce el valor apróximado de la cuota de <span> tu libranza<span></p>
                    </div>
                    <div class="content-image">
                        <div class="img-super"><img src="../../img/general/super.svg"></div>
                        <div class="img-derecha">
                            <img ng-show="data.ShowImgDefault" src="../../img/general/men.png">
                            <img ng-show="data.ShowImgSectorPublico" src="../../img/general/sector-publico.png">
                            <img ng-show="data.ShowImgDocente" src="../../img/general/docente.png">
                            <img ng-show="data.ShowImgFuerzas" src="../../img/general/militar.png">
                            <img ng-show="data.ShowImgPensionado" src="../../img/general/pensionado.png">
                        </div>
                    </div>
                    <div class="texto-inferior-imagen">
                        <div class="texto">
                            <p>*El valor es aproximado teniendo en cuenta la tasa de interés aplicable a la fecha</p>
                            <p>La aprobación definitiva de la solicitud de financiación y la tasa de interés del crédito estarán sujetos a las politicas de crédito y condiciones definidas por el Banco Finandina S.A.</p>
                            <p>La cuota aproximada no incluye seguros y otros cargos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 side-right">
                    <div class="card-content">
                        <div class="texto-superior">
                            <p>Quieres conocer tu capacidad de libranza por:</p>
                        </div>
                        <div class="content-switch">
                            <div class="container-switch-movil">
                                <div class="texto-izquierdo">
                                    <p ng-show="data.ShowMonto">MONTO</p>
                                    <p class="texto-negro" ng-show="data.ShowCuota">MONTO</p>
                                </div>
                                <div class="switch-button">
                                    <span class="flecha-izq" ng-show="data.ShowMonto"><img src="../../img/general/arrow-1.png"></span>
                                    <span class="flecha-der" ng-show="data.ShowCuota"><img src="../../img/general/arrow-2.png"></span>
                                    <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox" ng-click="Cambiar()">
                                    <label for="switch-label" class="switch-button__label"></label>
                                </div>
                                <div class="texto-derecho">
                                    <p ng-show="data.ShowMonto">CUOTA</p>
                                    <p class="texto-azul" ng-show="data.ShowCuota">CUOTA</p>
                                </div>
                            </div>
                        </div>


                        <div class="texto-superior-derecho">
                            <p class="texto-sup-1">Selecciona tu convenio</p>
                            <p class="texto-sup-2">Indica tu situación actual y el convenio</p>
                        </div>
                        <div class="content-caja-select">
                            <div class="caja-select select-actividad">
                                <div class="ico-form img-car">
                                    <img class="img-responsive" src="../../img/general/suitcase.svg">
                                </div>
                                <div class="control-select-input">
                                    <select name="singleSelect" ng-model="data.selectActividad" ng-change="CambiarActividad()">
                                        <option value="0" selected="selected">Elige tu opción</option>
                                        <option value="1">Sector público</option>
                                        <option value="2">Docente</option>
                                        <option value="3">Fuerzas militares</option>
                                        <option value="4">Pensionado</option>
                                    </select>
                                    <label for="opcionactividad">¿Cuál es tu actividad?</label>
                                </div>
                                <div class="mensaje-valor">
                                    <span class="error msg-2">{{data.errorActividad}}</span>
                                </div>
                            </div>
                            <div class="separador" ng-if="!data.ShowImgDefault"></div>
                            <div class="caja-select" ng-if="!data.ShowImgDefault">
                                <div class="ico-form img-car">
                                    <img class="img-responsive" src="../../img/general/hands.png">
                                </div>
                                <div class="control-select-input">
                                    <select name="singleSelect" ng-show="data.ShowImgSectorPublico" ng-model="data.selectConvenio">
                                        <option value="0" selected="selected">Elige tu opción</option>
                                        <option value="1">Alcaldía Envigado</option>
                                        <option value="2">Alcaldía Palmira</option>
                                        <option value="3">Alcaldía Yumbo</option>
                                        <option value="4">Alcaldía Mayor de Bogotá</option>
                                    </select>
                                    <select name="singleSelect" ng-show="data.ShowImgDocente" ng-model="data.selectConvenio">
                                        <option value="0" selected="selected">Elige tu opción</option>
                                        <option value="1">Secretaría educación Funza</option>
                                        <option value="2">Secretaría educación Piedecuesta</option>
                                        <option value="3">Secretaría educación Santander</option>
                                        <option value="4">Secretaría educación Chía</option>
                                    </select>
                                    <select name="singleSelect" ng-show="data.ShowImgFuerzas" ng-model="data.selectConvenio">
                                        <option value="0" selected="selected">Elige tu opción</option>
                                        <option value="1">INPEC - Bogotá</option>
                                        <option value="2">INPEC - Buen Pastor</option>
                                        <option value="3">INPEC - Jamundi</option>
                                        <option value="4">INPEC - Modelo</option>
                                    </select>
                                    <select name="singleSelect" ng-show="data.ShowImgPensionado" ng-model="data.selectConvenio">
                                        <option value="0" selected="selected">Elige tu opción</option>
                                        <option value="1">Alcaldía Palmira</option>
                                        <option value="2">Alcaldía Yumbo</option>
                                    </select>
                                    <label for="opcionactividad" ng-hide="data.ShowImgDefault">¿Cuál es el convenio?</label>
                                </div>
                            </div>
                        </div>

                        <div class="texto-superior-derecho">
                            <p>Completa los siguientes datos para poder simular tu libranza</p>
                        </div>
                        <div class="content-caja-select">
                            <div class="caja-select">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input">
                                    <input ng-model="data.ingresos" type="text" autocomplete="off" mileskeypress ng-change="calcularDatos()" maxlength="13" />
                                    <label for="modelocarro">Indica tus ingresos</label>
                                </div>
                                <div class="mensaje-valor">
                                    <span class="error msg-2">{{data.errorIngresos}}</span>
                                </div>
                            </div>
                            <div class="separador"></div>
                            <div class="caja-select">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input">
                                    <input ng-model="data.descuentoNomina" type="text" autocomplete="off" mileskeypress ng-change="calcularDatos()" maxlength="13" />
                                    <label for="modelocarro" ng-show="data.ShowImgPensionado">Otros descuentos</label>
                                    <label for="modelocarro" ng-show="!data.ShowImgPensionado">Descuentos de nómina</label>
                                </div>
                                <div class="mensaje-valor">
                                    <p ng-show="data.ShowImgPensionado">Diferentes a descuentos de salud</p>
                                    <p ng-show="!data.ShowImgPensionado">Diferentes a descuentos de ley</p>
                                    <span class="error msg-1">{{data.errorDescNomina}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="texto-monto">
                            <p ng-if="data.ShowMonto">¿Cuánto dinero necesitas?</p>
                            <p ng-if="data.ShowCuota">¿Cuál es la cuota que quieres pagar?</p>
                        </div>
                        <div class="content-monto">
                            <div class="caja-monto">
                                <div class="ico-form">
                                    <img src="../../img/general/money-blue.svg">
                                </div>
                                <div class="control-select-input ">
                                    <input ng-if="data.ShowMonto" ng-model="data.montoAprox" type="text" mileskeypress autocomplete="off" ng-change="calcularDatos()" maxlength="13" />
                                    <input ng-if="data.ShowCuota" ng-model="data.cuotaAprox" type="text" mileskeypress autocomplete="off" ng-change="calcularDatos()" maxlength="13" />
                                    <div class="ico-form2" ng-show="data.ShowAviso">
                                        <img src="../../img/general/money-blue.svg">
                                    </div>
                                </div>
                                <div class="texto-aviso" ng-show="data.ShowAviso">
                                    <p>Te prestamos máximo hasta 20 millones</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-error"><span class="error">{{data.errorMonto}}</span></div>
                        <span class="error">{{data.errorCuota}}</span>

                        <div class="texto-plazo">
                            <p>Elige el plazo en el que quieres pagar</p>
                        </div>
                        <span class="error">{{data.errorplazo}}</span>
                        <span class="error">{{data.errorexcede}}</span>

                        <!--<div class="content-caja-monto" ng-show="data.ShowImgPensionado && data.ShowMonto120Meses" >
                            <div class="caja-plazos ">
                                <label for="modelocarro">120 meses</label>
                            </div>
                        </div>-->
                        <div class="content-caja-monto" ng-show="data.ShowImgPensionado" ng-click="MostrarCuota(id=1)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show120Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>120 meses</p></span>
                                        <span ng-show="data.Show120Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto120 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota120 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=2)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show108Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>108 meses</p></span>
                                        <span ng-show="data.Show108Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto108 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota108 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=3)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show96Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>96 meses</p></span>
                                        <span ng-show="data.Show96Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto96 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota96 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=4)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show84Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>84 meses</p></span>
                                        <span ng-show="data.Show84Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto84 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota84 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="content-caja-monto" ng-show="data.ShowMonto72Meses" ng-click="MostrarCuota(id=4)">
                            <div class="caja-plazos ">
                                <label for="modelocarro">72 meses</label>
                            </div>
                        </div>-->
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=5)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show72Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>72 meses</p></span>
                                        <span ng-show="data.Show72Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto72 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota72 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-caja-monto" ng-click="MostrarCuota(id=6)">
                            <div class="caja-plazos-monto " ng-class="{'select':data.Show60Meses}">
                                <div class="content-monto">
                                    <div class="content-monto-sup">
                                        <span class="caja-izquierda"><p>60 meses</p></span>
                                        <span ng-show="data.Show60Meses" class="caja-derecha"><img src="../../img/general/chulo-blue.svg"></span>
                                    </div>
                                    <div class="content-monto-inf">
                                        <span class="caja-izquierda">
                                            <p ng-show="data.ShowMonto">Cuota mensual</p>
                                            <p ng-show="data.ShowCuota">Monto aproximado</p>
                                        </span>
                                        <span ng-show="data.ShowMonto" class="caja-derecha texto-info">$ {{data.Monto60 | number}}</span>
                                        <span ng-show="data.ShowCuota" class="caja-derecha texto-info">$ {{data.Cuota60 | number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-buttons">
                            <button class="button-izquierdo" ng-click="contactenos()">CONTÁCTAME</button>
                            <button class="button-derecho" onclick="window.location='https://transacciones.bancofinandina.com/BPO/formulario-de-venta?tipoProducto=CreditoLibranza'">¡LO QUIERO!</button>
                        </div>

                        <div class="texto-inferior-imagen2">
                            <div class="img-super"><img src="../../img/general/super.svg"></div>
                            <div class="texto">
                                <p>* El valor es aproximado teniendo en cuenta la tasa de interés aplicable a la fecha.</p>
                                <p>* La aprobación definitiva de la solicitud de financiación y la tasa de interés del crédito estarán sujetos a las politicas de crédito y condiciones definidas por el Banco Finandina S.A.</p>
                                <p>* La cuota aproximada no incluye seguros y otros cargos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <footer>
        <p class="texto-normal">Todos los derechos reservados 2021 <span class="guion">-</span><span> Banco Finandina</span></p>
    </footer>
</body>
</html>