/**************Llamado de Fuentes***************/
@font-face {
    font-family: 'Open_Sans_Italic';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.woff2') format('woff2'), url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Open_Sans_Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Open_Sans_Semi_Bold';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
 
@font-face {
    font-family: 'Open_Sans_Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Open_Sans_Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Finandina_Menu';
    src: url('../fonts/finandina-menu.eot');
    src: url('../fonts/finandina-menu.eot') format('embedded-opentype'), url('../fonts/finandina-menu.woff2') format('woff2'), url('../fonts/finandina-menu.woff') format('woff'), url('../fonts/finandina-menu.ttf') format('truetype'), url('../fonts/finandina-menu.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot') format('embedded-opentype'), url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**************FIN Llamado de Fuentes***************/
html {
    min-height: 100%;
    position: relative;
  }
 
body {
    margin: 0;
    margin-bottom: 120px;
  }
.header-vehiculos{
    position: fixed;
    display: flex;
    top:0px;
    left: 0px;
    height: 80px;
    width: 100%;
    background: transparent linear-gradient(90deg, #EE252A 0%, #EE257A 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
    justify-content: center;
    .logo{
       margin-left: 30px;
       margin-top: 10px;
       img{
           max-width: 100%;
       }
    }
    .texto-encabezado{
        margin-left: 20px;
        width: 100%;
        p{
            font-size: 24px;
            color: #FFFFFF;
            font-family: 'Open_Sans_Semi_Bold';
        }
    
    } 
    .img-bancodigital{
        margin-right: 30px;
        margin-top: 10px;
        img{
            max-width: 100%;
        }
    }    
}
 
footer {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: #ed2529;
    justify-content: center;
    align-items: center;    
    max-width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    .texto-normal{
        margin: 30px auto auto 280px;
        font-size: 16px;
        color: white;
        font-family: 'Open_Sans_Regular';
     }
    .texto-responsivo{
        display: none;
    }      
}
 
 
 
.row{
    display:flex;
    margin: 8rem auto 1rem auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 700px;
    max-width:100rem;
    width: 90%;
    justify-content: center;
    align-items: center;

}
 

.card{
    display:flex;
    max-width: 100%;
    max-height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}

.side-left{
    width: 100%;
    height: auto;
    .texto-superior-imagen {
        width: 70%;
        text-align: left;
        margin-left: 10%;

        p {
            font-family: 'Open_Sans_Regular';
            font-size: 36px;

            span {
                color: red;
                font-family: 'Open_Sans_Bold';
            }
        }
    }
    .content-img{
        display: flex;
        margin-left: 22px;
        .img-super{
            margin-top: 150px;
        }
        .img-izquierda {
            background-color:black;
            margin-left: -10px;
            img{
                max-width: 50%;
            }
        }        
    }
    .texto-inferior-imagen{
        text-align: left;
        margin-left: 30px;
        width:90%;
        max-width: 90%; 
        p{
            font-family:'Open_Sans_Regular';
            font-size: 12px;
        }            
      

    }



 
}

.modal-contenido{
      max-width: 100%;
      max-height: 100%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.16);
      border-radius: 20px;
      width:500px;
      padding: 10px 20px;
      margin: 10% auto;
      position: relative;
      text-align: center;
      img{
        width: 30%;
      }
  .texto-popup-titulo{
        font-family: 'Open_Sans_Bold';
        font-size: 16px;
        color:#707070;
    }

  .texto-popup-contenido-1{
        font-family: 'Open_Sans_Regular';
        font-size: 16px;
        color:#707070;
    }
    .texto-popup-contenido-2{
        display: none;
    }
    a{
        text-decoration: none;
        .button-izquierdo{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            opacity: 1;
            height: 40px;
            width: 50%;
            border-radius:30px;
            cursor: pointer;
            margin:auto auto 10px auto;
           
            p{
                font-family:'Open_Sans_Bold';
                font-size: 16px;
                margin-top: 10px;
                color:#707070;;
            }
        }        
    }



}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
}
#Modal:target{
  opacity:1;
  pointer-events:auto;
}

 
.side-right{
    width: 100%;
    height: auto;
    margin: 30px 30px 30px 30px;
    .card-content{
        background: #fdfdfd 0% 0% no-repeat padding-box;
        border: 1px solid #CED4DA;
        border-radius: 10px;
        width: 100%;
        height: 100%;



       .texto-superior-derecho{
            text-align: center;
            margin:auto auto auto auto;
            max-width: 80%;
            p{
                font-family: 'Open_Sans_Semi_Bold';
                font-size: 16px;

            }
        }

        .texto-monto{
            margin-top:31px;
            p{
                font-family:'Open_Sans_Semi_Bold';
                font-size: 16px;
                color:black;
            } 
        }
        .content-monto{
            width: 100%;
            /*IMPORTANTE*/
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;            
            .caja-monto{
                width: 50%;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                opacity: 1;
                height: 40px;
                .ico-form {
                    width: 30px;
                    position: relative;
                    height: 40px;
                    top:13px;
                    img, svg {
                        margin: auto;
                        display: block;
                    }
                }
                .control-select-input{
                    position: relative;
                    margin-top:-40px;
                    width:100% ;
                    max-width: 100%;

                    input {
                        text-align: left;
                        border: 0;
                        height: 35px;
                        width: 80%;
                        max-width: 80%;
                        margin-top:2px;
                        margin-left:10px;
                        font-size: 16px;
 
                    }

                }

            }
            .caja-monto:focus-within{
                border: 1px solid  #EE2552;
            }


            .input-nombre{
                width: 60%;
                border: 1px solid #CCCCCC;
               
            }

            .input-celular{
                width: 30%;
                .control-select-input{
                    input{
                        margin-left:30px;
                    }
                }
            }
            .input-correo{
                width: 60%;
                border: 1px solid #CCCCCC;
            }            

        }

        .texto-inferior-imagen2{
            display:none;
        }
        .container-switch{
            display: flex;
            width: 55%;
            max-width: 55%;
            margin:91px auto auto auto;

                .texto-switch{
                    
                    .texto-switch-descripcion{
                        font-size:15px;
                        font-family:'Open_Sans_Regular';
                        a{
                            color: #FF0000;
                        }
                    }
                }
                .container-switch-movil{
                        padding-top:10px;
                        margin: -3px auto auto 5px ;
                    
                    }
        }

        .content-buttons{
            margin: 40px auto 40px auto; 
            display:flex;
            width: 70%;
            max-width: 70%;
            .button-izquierdo{
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                opacity: 1;
                height: 50px;
                width: 100%;
                border-radius:30px;
                font-family:'Open_Sans_Semi_Bold';
                font-size: 16px;
                color:black;
                cursor: pointer;
            }
            .button-derecho{
                background: #ED2529 0% 0% no-repeat padding-box;
                opacity: 1;
                height: 50px;
                width: 100%;
                margin-left:10px;
                border-radius:30px;
                font-family:'Open_Sans_Semi_Bold';
                font-size: 16px;
                color:white;
                border: #CED4DA;
                background-image:url('../../img/general/chulo-white.svg');
                background-position: 97%  16px;
                cursor: pointer;
            }
            .button-derecho2{
                background: #ED2529 0% 0% no-repeat padding-box;
                
                opacity: 1;
                height: 50px;
                width: 80%;
                margin:auto auto auto auto;
                border-radius:30px;
                font-family:'Open_Sans_Semi_Bold';
                font-size: 16px;
                color:white;
                border: #CED4DA;
                background-image:url('../img/general/chulo-white.svg');
                background-position: 97%  16px;
                cursor: pointer;
            }            


        }
        .content-texto-lateral2{
            display: none;
            .texto-lateral-inferior2{
                display: none;
            }
            .texto-lateral-superior2{
                display: none;
            }
        }
        .texto-responsive{
            display: none;
        }
    





    }



 
}
 



.switch-button {
    display: inline-block;

     .switch-button__checkbox {
        display: none;
    }

     .switch-button__label {
        background-color: #707070;
        width: 60px;
        height: 30px;
        border-radius: 30px;
        display: inline-block;
        position: relative;
        .container-switch-texto{
            display:flex;
            margin-top:5px;
            .switch-texto-izquierdo{
                margin:-8px auto auto 15px;
                cursor: pointer;
                p{
                    font-family:'Open_Sans_Regular';
                    font-size:12px;
                    color:white;

                }
            }
            .switch-texto-derecho{
                margin:-8px auto auto -1px;
                cursor: pointer;
                p{
                    font-family:'Open_Sans_Regular';
                    font-size:12px;
                    color:white;
                }
            }

        }
    }

    .switch-button__label:before {
        transition: .2s;
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #fdffff;
        content: '';
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px #5289EC;
    }
 .switch-button__checkbox:checked + .switch-button__label {
    background-color:#ed2529;
    
}

.switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);

}
}


.texto-encabezado-terminos{
    text-align: left;
    margin-left: 30px;
    p{
        font-size: 30px;
        font-family:'Open_Sans_Bold';
        color:#707070;
    }
}
.texto-terminos{
    width: 90%;
    max-width: 90%;
    height: 70%;
    max-height: 70%;
    margin:auto auto auto auto;
    textarea{
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;                
        background: #fdfdfd 0% 0% no-repeat padding-box;
        border: 1px solid #CED4DA;
        border-radius: 10px;                
    }
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


@media screen and (max-width: 900px) { 

   .header-vehiculos{
        max-height: 100%;
            .logo{
                margin:auto auto auto 15px;
            }
            .texto-encabezado{
                margin: auto auto auto 20px;
                p{
                    font-size:14px;
                    font-family: 'Open_Sans_Regular';
                }
            }
            .img-bancodigital{
                margin:auto 15px auto auto;
            }
   } 


    footer{
        text-align: center;
        margin: auto auto auto auto;
            .texto-responsivo{
                display: block;
                font-size: 14px;
                color: #FFFFFF;
                font-family: 'Open_Sans_Regular';
                    span{
                        font-family:'Open_Sans_Semi_Bold';
                        font-size: 16px;
                    }
            }
            .texto-normal{
                display: none;
            } 
    }

    .card{
        display:flex;
        flex-direction: column;
        border:none;
        box-shadow: 0px 0px 0px 0px ;
    }

    .row{
        margin: 6rem auto auto auto;
    }



    .modal-contenido{
          max-width: 100%;
          max-height: 100%;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.16);
          border-radius: 20px;
          width:80%;
          padding: 10px 20px;
          margin: 40% auto;
          position: relative;
          text-align: center;
          img{
            width: 40%;
          }
      .texto-popup-titulo{
            font-family: 'Open_Sans_Bold';
            font-size: 14px;
            color:#707070;
        }
      .texto-popup-contenido-1{
        display: none;
      }
      .texto-popup-contenido-2{
            display: block;
            font-family: 'Open_Sans_Regular';
            font-size: 13px;
            color:#707070;
        }
        a{
            text-decoration: none;
            .button-izquierdo{
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                opacity: 1;
                height: 40px;
                width: 50%;
                border-radius:30px;
                cursor: pointer;
                margin:auto auto 10px auto;
               
                p{
                    font-family:'Open_Sans_Bold';
                    font-size: 14px;
                    margin-top: 10px;
                    color:#707070;;
                }
            }        
        }



    }
    .modal{
      background-color: rgba(0,0,0,.8);
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      pointer-events:none;
    }
    #Modal:target{
      opacity:1;
      pointer-events:auto;
    }


    .side-left{
        width: 100%;
        margin: auto auto 10px auto;
            .texto-superior-imagen {
                margin: 10px auto 20px auto;
                width: 88%;

                p {
                    margin: auto auto auto auto;
                    font-family: 'Open_Sans_Regular';
                    font-size: 24px;
                }
            }

            .texto-inferior-imagen{
                display: none;
            }

            .content-img{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                .img-super{
                    display: none;
                }
                .img-izquierda {
                margin-left: auto;
                margin-right: auto;                
                    img{
                        width: 10%;
                    }
                }        
            }

    }


    .side-right{
        width: 100%;
        margin-left: -30px;
        margin: auto auto auto 0px;
        display: flex;
        flex-direction: column;
            .card-content{
                height: 100%;
                    .texto-superior-derecho{
                        max-width: 80%;
                        margin:20px auto 60px auto;
                           p{
                                font-size: 14px;
                           }
                    }

                    .content-caja-select{
                        display:flex;
                        flex-direction: column;
                        width: 70%;
                        margin: auto auto auto auto; 
                            .caja-select{
                                margin-bottom: 46px;

                                .ico-form {

                                     svg {
                                        width: 100%;

                                    }
                                    .img-responsive {
                                        width: 100%;
                                    }                                     

                                    
                                }                                                                 
                            }


                    }

                    .texto-monto{
                        margin-top:-30px;
                            p{
                                 font-size: 14px;
                            }
                    }
                    .content-monto{

                        .caja-monto{
                            width: 80%;
                        }

                        .input-celular{
                            max-width: 50%;
                            width: 50%;
                            .control-select-input {
                                input{
                                    width: 70%;
                                    max-width: 70%;
   
                                }                            
                            }                            

                        }
                    }
                    .container-switch{
                        margin:-40px auto auto auto;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        .container-switch-movil{
                            margin:auto auto auto auto;
                        }
                    }                       
                    .texto-plazo{
                        p{
                            font-size: 14px;
                        }
                    }
                    .content-buttons{
                        display: flex;
                        flex-direction: column;
                        margin: 30px auto 60px auto;
                            .button-derecho{
                                width: 95%;
                                margin:auto auto auto auto;
                            }
                    }

                    .texto-responsive{
                        display: block;
                        max-width: 75%;
                        margin: 0px auto auto 4rem;
                        text-align: left;
                        margin-bottom: 30px;

                            p{
                                font-size: 10px;
                                font-family: 'Open_Sans_Regular';
                            }
                    }
                    .texto-inferior-imagen2{
                        display: block;
                        display: flex;
                        margin-left: 20px;
                        margin-bottom: 20px;
                        .img-super{
                            margin-top: 10px;
                        }
                        .texto{
                            text-align: left;
                            margin-left: 20px;
                            width:80%;
                            max-width: 80%;
                            color:#707070; 
                            p{
                                font-family:'Open_Sans_Regular';
                                font-size: 10px;
                            }            

                        }
                        

                    }

                    .container-switch{
                        display: flex;
                            .texto-switch{
                                .texto-switch-descripcion{
                                    font-size:12px;

                                }
                            }
                            .container-switch-movil{
                                    padding-top:10px;
                                }
                    }
                    .content-buttons{
                        display:flex;
                        flex-direction: column;
                        .button-izquierdo{
                            margin-bottom:10px; 
                        }
                        .button-derecho{
                            width: 100%;
                        }
                    }


            }    
    
    }

}